body {
  background-image: url(https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg);
  background-size: auto;
  color: rgb(96, 255, 4);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.jumbotron  {
  background-color: midnightblue;
  color: rgb(255, 255, 255);
  opacity: 90%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.picture {
  border-radius: 50%;
  max-width: 130px;
  max-height: 175px;
  float: left;
  padding: 10px;
}
.well {
  background-color: midnightblue;
  opacity: 85%;
  column-width: 80%;
}
.list {
  color: white;
}

#github {
  color: rgb(255, 44, 44);
}