
body {
  background-image: url(https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg);
  background-size: auto;
  color: rgb(96, 255, 4);
}

.jumbotron  {
  background-color: midnightblue;
  color: rgb(255, 255, 255);
  opacity: 90%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.picture {
  border-radius: 50%;
  max-width: 100px;
  float: left;
  padding: 5px;
  opacity: none;
}

.well {
  background-color: midnightblue;
  opacity: 80%;
  column-width: 80%;
}
